<!DOCTYPE html>
<html lang="en">
  {{> header }}
<body>
  <nav>
    <h4>LORAWAN</h4>
    <ul>
      <li><a href="/logged">Pagina Inicial</a></li>
      <li><a href="/sensors">Meus Sensores</a></li>
      <li><a href="/locals">Locais</a></li>
      {{#if isAdmin}}
        <!-- Exibir os links adicionais apenas se o usuário for administrador -->
        <li><a href="/users">Gerir Utilizadores</a></li>
      {{/if}}
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
   <div class="profile-container">
    <h1>Perfil de {{email}}</h1>
    <img src="/images/{{gender}}_avatar.png" alt="Profile Picture">
    
    <p><strong>Nome de utilizador:</strong> {{username}}</p>
    <p><strong>Primeiro Nome:</strong> {{firstName}}</p>
    <p><strong>Ultimo Nome:</strong> {{lastName}}</p>
    <p><strong>Idade:</strong> {{age}}</p>
    <p><strong>Genero:</strong> {{gender}}</p>
   
  </div>

  
  
</body>
</html>
